@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.section-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.text-light-gray {
    color: #727272;
}

/* Header Styles */
header {
    background-color: #FFF4E7;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
    padding-top: 20px;
}

/* Main Styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* Teams Styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
/* Responsive Media Queries */
/* Mobile Devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Medium Devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
}